
<h3 class="my-4 spartan fw-700"> Kontaktný formulár </h3>

<form n:name="contactForm">
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <label n:name="name" for="exampleInputEmail1" class="form-label">meno a priezvisko</label>
                <input n:name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="zadaj meno a priezvisko" required
                    {if (!isset($_COOKIE["reCaptcha"]))}
                        disabled
                    {/if}>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label n:name="email" for="exampleFormControlInput1" class="form-label">e-mail</label>
                <input n:name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="zadaj e-mailovu adresu"
                    {if (!isset($_COOKIE["reCaptcha"]))}
                        disabled
                    {/if}>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label n:name="phone" for="exampleInputEmail1" class="form-label">telefón</label>
                <input n:name="phone" type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="telefónne číslo +421"
                    {if (!isset($_COOKIE["reCaptcha"]))}
                        disabled
                    {/if}>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Text správy</label>
                <textarea n:name="message" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="sem zadaj správu..."
                    {if (!isset($_COOKIE["reCaptcha"]))}
                        disabled
                    {/if}>
                </textarea>
            </div>
        </div>
    </div>
    <div class="mb-3 form-check">
        <input n:name="aggre" type="checkbox" class="form-check-input" id="exampleCheck1"
            {if (!isset($_COOKIE["reCaptcha"]))}
                disabled
            {/if}>
        <label class="form-check-label" for="exampleCheck1">
            SÚHLASÍM so spracovaním osobných údajov v súlade s dokumentom
                <a class="nav-link d-inline fw-bold" href="{plink cookie:gdpr}">
                    Spracovanie osobných údajov
                </a>.
            Tento formulár je chránený pomocou služby reCAPTCHA a platia preň
            <a href="https://policies.google.com/privacy?hl=sk" class="nav-link fw-bold d-inline">
                pravidlá ochrany osobných údajov
            </a>
            a
            <a href="https://policies.google.com/privacy?hl=sk" class="nav-link d-inline fw-bold">
                zmluvných podmienok
            </a>
            služby reCAPTCHA.
        </label>
            {if (!isset($_COOKIE["reCaptcha"]))}
                <div class="alert alert-danger mt-3" role="alert">
                    <i class="bi bi-info-circle"></i> Pre odoslanie formuláru je nutné povolit služby reCAPTCHA zmenou nastavení v časti
                    <a href="{plink cookie:set}" class="nav-link text-dark d-inline fw-bold"> Nastavenia súborov Cookie </a>
                </div>
            {else}
                <div class="mt-3">
                    <div n:name="recaptcha"></div>
                </div>
            {/if}
    </div>
    <div class="col-md-3">
        <button type="submit" class="g-recaptcha btn btn-primary w-100"
                {if (!isset($_COOKIE["reCaptcha"]))}
                disabled
                {/if}>
        >Odoslať</button>
    </div>
</form>
