{block content}

  {control cookie}

    <section>
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="py-5">
                    <i class="bi bi-gear"></i> Nastavenia súborov Cookies
                </h1>
            </div>

            {control setCookieForm}

        </div>
    </div>
    </section>

{/block}