parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
#	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
    - app\Model\MyMailSender\MyMailSender
    - App\Components\ContactForm\FormFactory(secret: %secret%, sitekey: %sitekey%)


search:
    Components:
        in: %appDir%/Components
        classes:
                    - *Factory
